# Librerías

In [1]:
def importarlibrerias():
    '''Importación de las librerías necesarias para la implementación del algoritmo de árbol de decisión'''
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
print(importarlibrerias.__doc__)
print(importarlibrerias())

Importación de las librerías necesarias para la implementación del algoritmo de árbol de decisión
None

# Leer y cargar datos del dataset (Dataset of Diabetes)

In [2]:
def leercargar():
    '''Leer y cargar los datos del dataset (Dataset of Diabetes)'''
df_diabetes = pd.read_csv("Dataset of Diabetes .csv")
print(leercargar.__doc__)
print(leercargar())
df_diabetes.head()

Leer y cargar los datos del dataset (Dataset of Diabetes)
None

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

# Mapeo de datos

In [3]:
def reemplazo1():
    '''Con la función map se cambia los valores binarios(0/1)
    los valores de Gender (F=1, M=0)'''
df_diabetes['Gender'] = df_diabetes['Gender'].map({'F': 1, 'M': 0})
print(reemplazo1.__doc__)
print(reemplazo1())
df_diabetes.head()

Con la función map se cambia los valores binarios(0/1)
    los valores de Gender (F=1, M=0)
None

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,0.0,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,0.0,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [4]:
def reemplazo2():
    '''Con la función map se cambia los valores binarios(0/1)
    los valores de CLASS (N=0, P=1, Y=2)'''
df_diabetes['CLASS'] = df_diabetes['CLASS'].map({'N': 0, 'P': 1, 'Y':2})
print(reemplazo2.__doc__)
print(reemplazo2())
df_diabetes.head()

Con la función map se cambia los valores binarios(0/1)
    los valores de CLASS (N=0, P=1, Y=2)
None

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0.0
1,735,34221,0.0,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0.0
2,420,47975,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0.0
3,680,87656,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0.0
4,504,34223,0.0,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0.0

# Variable Independiente y Dependiente

In [5]:
def independiente():
    '''Identificar la variable Independependiente o las características'''
var_independientes = ['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL','BMI']
X = df_diabetes[var_independientes] #Características
print(independiente.__doc__)
print(independiente())

Identificar la variable Independependiente o las características
None

In [6]:
def dependiente():
    '''Identificar la variable dependiente o la etiqueta'''
y = df_diabetes.CLASS #etiqueta
print(dependiente.__doc__)
print(dependiente())

Identificar la variable dependiente o la etiqueta
None

In [7]:
def imprimirXy():
    '''Se imprime las dos varibles(X, y) indentificadas anteriormente'''
print(X, y, sep='\n\n')
print(imprimirXy.__doc__)
print(imprimirXy())

      ID  No_Pation  Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
0    502      17975     1.0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
1    735      34221     0.0   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
2    420      47975     1.0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
3    680      87656     1.0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
4    504      34223     0.0   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4
..   ...        ...     ...  ...   ...  ..    ...   ...  ...  ...  ...   ...
995  200     454317     0.0   71  11.0  97    7.0   7.5  1.7  1.2  1.8   0.6
996  671     876534     0.0   31   3.0  60   12.3   4.1  2.2  0.7  2.4  15.4
997  669      87654     0.0   30   7.1  81    6.7   4.1  1.1  1.2  2.4   8.1
998   99      24004     0.0   38   5.8  59    6.7   5.3  2.0  1.6  2.9  14.0
999  248      24054     0.0   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7

      BMI
0    24.0
1    23.0
2    24.0
3    24.0
4    21.0
..    ...
995  30.0
996  37.2
997  27.4
998  40.5
999  33.0

[1000 rows x 13 columns]

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
995    2.0
996    NaN
997    NaN
998    NaN
999    NaN
Name: CLASS, Length: 1000, dtype: float64
Se imprime las dos varibles(X, y) indentificadas anteriormente
None

In [8]:
def nulos():
    '''Verificar que en el dataset no haya nulos'''
print(nulos.__doc__)
print(nulos())
df_diabetes.isnull().sum()

Verificar que en el dataset no haya nulos
None

ID           0
No_Pation    0
Gender       1
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        5
dtype: int64

In [9]:
def nulos():
    '''Transformar los valores nulos existentes en el dataset'''
print(nulos.__doc__)
print(nulos())
X.fillna(0, inplace=True)
y.fillna(0, inplace=True)

Transformar los valores nulos existentes en el dataset
None

C:\Users\Personal\AppData\Local\Temp\ipykernel_5768\2143138675.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.fillna(0, inplace=True)

# Dividir el dataset

In [10]:
# split dataset into training and test set (70:30) ratio
def entrenar():
    '''Se va a dividir el conjunto de datos de dígitos a un 70% para lo que 
    es el entrenamiento de los datos y un 30% para realizar las pruebas'''
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)
print(entrenar.__doc__)
print(entrenar())

Se va a dividir el conjunto de datos de dígitos a un 70% para lo que
    es el entrenamiento de los datos y un 30% para realizar las pruebas
None

In [11]:
def crearAD():
    '''Crear un objeto clasificador del árbol de decisiones'''
clf = DecisionTreeClassifier()
print(crearAD.__doc__)
print(crearAD())

Crear un objeto clasificador del árbol de decisiones
None

In [12]:
def entrenarAD():
    '''Entrenar el clasificador del árbol de decisión'''
clf = clf.fit(X_train,y_train)
print(entrenarAD.__doc__)
print(entrenarAD())

Entrenar el clasificador del árbol de decisión
None

In [13]:
def predecirAD():
    '''Predecir la respuesta para el conjunto de datos de prueba'''
y_pred = clf.predict(X_test)
print(y_pred)
print(predecirAD.__doc__)
print(predecirAD())

[2. 2. 2. 2. 2. 2. 2. 2. 2. 0. 2. 1. 2. 2. 2. 1. 1. 0. 2. 2. 2. 2. 2. 2.
 2. 1. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 0. 2. 2. 2. 2. 2. 0. 0. 2. 2. 2. 0.
 2. 2. 2. 2. 2. 0. 1. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 0. 2. 2.
 2. 2. 2. 0. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 0. 2. 2. 2. 2.
 2. 2. 2. 1. 2. 0. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 1. 2.
 2. 2. 0. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 0. 2. 2. 2. 2. 2. 2. 0. 1. 2. 2.
 1. 2. 2. 2. 2. 2. 2. 2. 0. 2. 0. 2. 2. 2. 0. 2. 2. 2. 1. 2. 2. 2. 2. 2.
 2. 2. 2. 0. 2. 2. 2. 2. 0. 2. 2. 2. 2. 0. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2.
 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 0. 2. 2. 0. 2. 2. 2. 2. 2. 2. 2. 2. 2.
 2. 2. 2. 0. 2. 2. 2. 2. 2. 2. 0. 2. 2. 2. 0. 2. 2. 2. 2. 2. 2. 2. 2. 0.
 2. 0. 2. 2. 2. 2. 2. 2. 1. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 1. 2. 0. 0.
 2. 2. 2. 2. 2. 0. 2. 0. 2. 0. 2. 2. 2. 2. 2. 2. 2. 2. 0. 2. 2. 2. 2. 1.
 2. 2. 2. 2. 2. 2. 2. 2. 2. 0. 2. 2.]
Predecir la respuesta para el conjunto de datos de prueba
None