# Librerías

In [1]:
def importarlibrerias():
    '''Importación de las librerías necesarias para la implementación del algoritmo de árbol de decisión'''
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
print(importarlibrerias.__doc__)
print(importarlibrerias())

Importación de las librerías necesarias para la implementación del algoritmo de árbol de decisión
None

# Leer y cargar datos del dataset (Dataset of Diabetes)

In [2]:
def leercargar():
    '''Leer y cargar los datos del dataset (Dataset of Diabetes)'''
df_diabetes = pd.read_csv("Dataset of Diabetes .csv")
print(leercargar.__doc__)
print(leercargar())
df_diabetes.head()

Leer y cargar los datos del dataset (Dataset of Diabetes)
None

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

# Mapeo de datos

In [3]:
def reemplazo1():
    '''Con la función map se cambia los valores binarios(0/1)
    los valores de Gender (F=1, M=0)'''
df_diabetes['Gender'] = df_diabetes['Gender'].map({'F': 1, 'M': 0})
print(reemplazo1.__doc__)
print(reemplazo1())
df_diabetes.head()

Con la función map se cambia los valores binarios(0/1)
    los valores de Gender (F=1, M=0)
None

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,0.0,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,0.0,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [4]:
def reemplazo2():
    '''Con la función map se cambia los valores binarios(0/1)
    los valores de CLASS (N=0, P=1, Y=2)'''
df_diabetes['CLASS'] = df_diabetes['CLASS'].map({'N': 0, 'P': 1, 'Y':2})
print(reemplazo2.__doc__)
print(reemplazo2())
df_diabetes.head()

Con la función map se cambia los valores binarios(0/1)
    los valores de CLASS (N=0, P=1, Y=2)
None

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0.0
1,735,34221,0.0,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0.0
2,420,47975,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0.0
3,680,87656,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0.0
4,504,34223,0.0,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0.0